<div class="">
  <h2>Hello</h2>
</div>

{% schema %}
{
  "name": "Product Card Secondary",
  "settings": [
    {
      "id": "product_title",
      "type": "text",
      "label": "ex. Mac Gin",
      "default": "Mac Gin"
    }
  ],
  "presets": [
    {
      "name": "Product Card Secondary"
    }
  ]
}
{% endschema %}
